
body {
	font-family: helvetica, arial, sans-serif;
	 background-color: #e0f7fa; 
}

h1 {
	color: #2f7d33;
	text-align: center;
}

#left-container {
	left: 0px;
}

#right-container {
	right: 0px;
}

.container {
	background-color: #f0e5ee;
	width: 15%;
	top: 0px;
	position: absolute;
	height: 100%;
	padding: 10px;
	    border-radius: 10px;
    border: 2px solid #b19cd9;
}

.flower-holder {
	position: static;
	height: 13%;
	left: -10px;
}

.flower {
	 position: absolute;
   max-width: 100%; 
    max-height: 100%;
    display: block;
    margin: 0 auto;  
	z-index: 10000;
}

.terrarium {
    position: relative; 
}

.basket {
    position: absolute;
    bottom: 10%;       
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    z-index: 100;    
}

.jar-walls {
	height: 80%;
	width: 60%;
    background-color: #c8e6ff;
	border-radius: 2rem;
	position: absolute;
	bottom: 0.5%;
	left: 20%;
    border: 2px solid #b19cd9;
	z-index: 1;
}

.jar-top {
	width: 50%;
	height: 5%;
    background-color: #aed2d1; 
	position: absolute;
	bottom: 80.5%;
    left: 22.5%;
    border-radius: 1rem 1rem 0 0;
}

.jar-bottom {
	width: 50%;
	height: 1%;
   background-color: #b5e1ee;
	position: absolute;
	bottom: 0%;
    left: 22.5%;
    border-radius: 0 0 1rem 1rem;
}

.dirt {
    width: 60%;
    height: 5%;
    background-color: #b8e994;
    position: absolute;
    border-radius: 0 0 2rem 2rem;
    bottom: 1%;
    left: 20%;
    z-index: -1;
}

.jar-glossy-long {
	width: 3%;
	height: 20%;
	border-radius: 2rem;
    background-color: #ffffff;
	position: absolute;
	bottom: 20%;
	left: 5%;
}

.jar-glossy-short {
	width: 3%;
	height: 5%;
	border-radius: 2rem;
    background-color: #ffffff;
	position: absolute;
	bottom: 45%;
	left: 5%;
}
