body {
    background-color: #000;
    background-image: url("images/moss04.jpg");
    background-attachment: fixed;
  /* background-repeat: no-repeat; */
    /* background-position-y: bottom;  */

    margin: 0;
    padding: 0;
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    /* 200 – 800 */
    font-style: normal;

}

/* id rule uses hashtag #, only one per page */
#wrapper {
    margin: 100px auto;
    width: 60%;
    background-color: #fff;
    padding: 30px 50px;
        /* background-image: url("images/moss03.jpg"); */
}

/* class rules use a period to make a rule about a class, use multiple times */
.wow {
    color: #BC7976 ;
    font-weight: 900;
    font-style: italic;
    border: solid #a2c8cc 10px;
    padding: 10px;
}

header h1 {

    font-family: "Bitcount Ink", system-ui;
    font-optical-sizing: auto;
    font-weight: 500;
    /* 100-900 */
    font-style: normal;
    font-variant: small-caps;
    font-size: 66px;
}

nav {
    background-color: #F9D2E4;
    padding: 40px 10px;
    text-align: center;
}
nav a {
border: 2px solid #E9EEB9;
padding:10px 20px;
margin:0px 20px;
background-color: #fff;
text-decoration: none;
}
nav a:hover {
background-color: #CBDA99;
}

main p {

    font-size: 18px;
    line-height: 24px;
}

table, th, td, tr {
margin: 0px;
padding: 0px;

}


main table {
border: 10px solid #cfd4f7 ;
    background-color: #C0D696;

}

main table th {
border: 5px solid #c6ccff;
    background-color: #dde0ea;
        font-family: "Bitcount Ink", system-ui;
    font-optical-sizing: auto;
    font-weight: 300;
    /* 100-900 */
    font-style: normal;
    font-variant: small-caps;
    font-size: 33px;
    padding:22px;

}

main table td {
border: 5px solid #e7f8ad ;
    background-color: #fcf5d6;

}

main h2{
    border:solid 10px #FAD2A7;
    background-color: #f8baa4;
    font-size: 33px;
    padding: 50px 10px 10px 10px;
    margin: 100px 0px 0px 0px;
    font-style: italic;
}

main div.featuredImage {
    border: 10px solid #D3F0C5;
    background-color: #A7D6AA;
    padding: 40px;
    width: 200px;
    margin: 100px auto;
    text-align: center;
    border-radius: 20px;
}
main div.featuredImage img {
    width: 100%;
}

.new-div{
    background:linear-gradient(#ffeedd,#ddffee,#d6e988 );
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 10px #eae5e3;
    margin-bottom: 20px;
    position: relative;
}

.cool{
    background-color: #8abcd1;
    color: #c8161d;
    padding:0 4px;
    border-radius: 4px;
    font-weight: bold;
    box-shadow: 2px 2px 5px #0000004D;
}

.floating{
    padding:10px;
    background-color: #fefefe;
    box-shadow: 2px 2px 8px #5AA4AE;
    border-radius: 8px;
}

.circle{
    display: inline-block;
    padding:0.2em;
    border: 4px solid #ed6d46;
    border-radius: 50%;
    font-weight: bold;
    color: #66a9c9;
}

.underline{
    text-decoration: underline;
    text-decoration-color: #77b34f;
    text-decoration-thickness: 3px;
}

.wavy{
     text-decoration: underline;
    text-decoration-color: #ECC65C;
    text-decoration-thickness: 2px;
    text-decoration-style: wavy;
}