body.homepage {
  font-family: "Pangolin", cursive;
  margin: 0;
  padding: 0;
  background-color: #fff8f0;
  color: #333;
}

body.homepage .container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

body.homepage header,
body.gallery header {
  text-align: center;
  padding: 30px 0;
  background: #F9E2AE;
}



body.dessertguide header {
  text-align: center;
  padding: 30px 0;
  background: #F9E2AE;
}


body.gallery h2{
   font-family: "Pangolin", cursive;
}

.text{
   font-family: "Pangolin", cursive;
}

body.homepage header h1,
body.gallery header h1 {
  font-family: "Moirai One", system-ui;
  color: #e57373;
  font-size: 36px;
  margin-bottom: 10px;
}

body.homepage header p ,
body.gallery header p{
  font-size: 18px;
  color: #555;
}


body.homepage nav,
body.gallery nav {
  font-family: "Pangolin", cursive;
  text-align: center;
  margin: 20px 0;
  background-color: #ffe0b2;
  padding: 10px 0;
  border-radius: 10px;
}

body.homepage nav li,
body.gallery nav li,
body.dessertguide li{
  display: inline-block;
  margin: 0 15px;
  list-style: none;
}

body.homepage nav ul li a,
body.gallery nav ul li a,
body.dessertguide nav ul li a {
  text-decoration: none;
  color: #c85555;
  font-weight: bold;
  padding: 5px 0;
  transition: color 0.3s ease;
}


body.homepage nav ul li a:hover,
body.gallery nav ul li a:hover,
body.dessertguide nav ul li a:hover {
  text-decoration: underline;
  color: #ad848e;
}

body.homepage nav a {
  text-decoration: none;
  color: #e57373;
  font-weight: bold;
  font-size: 16px;
}

body.homepage nav a:hover {
  color: #d32f2f;
}


body.homepage main h2 {
  font-family: "Moirai One", system-ui;
  color: #ff8a65;
  font-size: 28px;
  margin-top: 30px;
}

body.homepage main h3 {
  font-family: 'Moirai One', cursive;
  color: #f57c00;
  font-size: 24px;
  margin-top: 25px;
}

body.homepage main p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}

body.homepage main a {
  color: #ff5722;
  text-decoration: none;
}

body.homepage .store-links {
  list-style-type: none;
  padding-left: 0;
}

body.homepage .store-links li {
  margin-bottom: 10px;
}

body.homepage .store-links a {
  text-decoration: none;
  color: #d84315;
}

body.homepage .store-links a:hover {
  text-decoration: underline;
}

/* Footer */
body.homepage footer {
  text-align: center;
  padding: 15px 0;
  margin-top: 30px;
  background-color: #ffe0b2;
  color: #e64a19;
  border-radius: 10px;
  font-size: 14px;
}

body.dessertguide {
  font-family: 'Pangolin', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff8f0;
  color: #333;
}

body.dessertguide .container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

/* Header */
body.dessertguide header {
  text-align: center;
  padding: 20px 0;
}

body.dessertguide header h1 {
  font-family: 'Moirai One', cursive;
  color: #e57373;
  font-size: 36px;
  margin: 0;
}

body.dessertguide nav {
  text-align: center;
  margin: 20px 0;
  background-color: #ffe0b2;
  padding: 5px 0;
  border-radius: 10px;
}


body.dessertguide nav ul {
  padding: 0;
  list-style: none;
}

body.dessertguide nav li {
  display: inline-block;
  margin: 0 15px;
}

body.dessertguide nav a {
  text-decoration: none;
  color: #e57373;
  font-weight: bold;
}

body.dessertguide nav a:hover {
  color: #d32f2f;
}


body.dessertguide aside {
  width: 30%;
  padding-right: 20px;

}

body.dessertguide main {

  width: 65%;
}

body.dessertguide .dessert-img {
  width: 100%;
  margin-bottom: 35px;
  border-radius: 12px;
}

body.dessertguide.container::after{
  content: "";
  display: block;
  clear: both;
}

body.dessertguide h2,
body.dessertguide h4 {
  color: #ff8a65;
  margin-top: 20px;
  
}

body.dessertguide p {
  line-height: 1.6;
  margin-bottom: 250px;
}

.gallery-container {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 40px;
  padding-left: 20px;
}

.gallery-section h2 {
  color: #8B3A3A;
  font-size: 2rem;
  margin-bottom: 20px;
}

.gallery-grid {
  column-count: 4;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
}

.gallery-grid img {
  width: 100%;
  height: 150;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 8px #000000;
}

.gallery-grid img:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px #7c7d7d;
}

.gallery nav {
  text-align: center;
  margin: 20px 0;
  background-color: #ffe0b2;
  padding: 10px 0;
  border-radius: 10px;
}

body.dessertguide aside {
  background-color: #fff0f2;
  padding: 20px;
  border-radius: 15px;

}

aside h2 {
  color: #d96c6c;
  margin-bottom: 10px;
  text-align: center;
}

aside ul {
  list-style: none;
  text-align: left;
}

aside ul li {
  margin-bottom: 8px;
  font-size: 0.95rem;
  color: #555;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #fce8e6;
  color: #d96c6c;
  margin-top: 40px;
  font-weight: bold;
}


.dessert-item {
  display: flex;
  gap: 20px;
  align-items: center;

}

.dessert-img {
  width: 150px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 12px #D9B6C4;
  transition: transform 0.3s, box-shadow 0.3s;
}

.dessert-img:hover {
  transform: scale(1.05);

}

/* Footer */
body.dessertguide footer {
  text-align: center;
  padding: 15px 0;
  margin-top: 30px;
  background-color: #ffe0b2;
  color: #e64a19;
  border-radius: 10px;
  font-size: 14px;
  clear: both;
}


body.gallery nav {
  text-align: center;
  margin: 20px 0;
  background-color: #ffe0b2;
  padding: 10px 0;
  border-radius: 10px;
}

body.gallery nav li {
  display: inline-block;
  margin: 0 15px;
  list-style: none;
}

body.gallery nav a {
  text-decoration: none;
  color: #e57373;
  font-weight: bold;
  font-size: 16px;
}

body.gallery nav a:hover {
  color: #d32f2f;
}


@keyframes dessertMove {
  0% {
    left: 0;
    top: 0;
  }

  25% {
    left: 150px;
    top: 0;
  }

  50% {
    left: 150px;
    top: 100px;
  }

  75% {
    left: 0;
    top: 100px;
  }

  100% {
    left: 0;
    top: 0;
  }
}

.animated-dessert {
  font-size: 50px;
  position: relative;
  animation: dessertMove 8s linear 0.5s infinite alternate;
  text-align: center;
  margin: 50px auto;
  transform: translateY(-40px);
}

.animation {
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-family: "Moirai One", cursive;
  font-size: 3rem;
  color: #c85555;
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
body.homepage nav a:hover {
  color: #d32f2f;
}


body.homepage main h2 {
  font-family:  "Moirai One", system-ui;
  color: #ff8a65;
  font-size: 28px;
  margin-top: 30px;
}

body.homepage main h3 {
  font-family: 'Moirai One', cursive;    
  color: #f57c00;
  font-size: 24px;
  margin-top: 25px;
}

body.homepage main p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}

body.homepage main a {
  color: #ff5722;
  text-decoration: none;
}

body.homepage .store-links {
  list-style-type: none;
  padding-left: 0;
}

body.homepage .store-links li {
  margin-bottom: 10px;
}

body.homepage .store-links a {
  text-decoration: none;
  color: #d84315;
}

body.homepage .store-links a:hover {
  text-decoration: underline;
}

/* Footer */
body.homepage footer {
  text-align: center;
  padding: 15px 0;
  margin-top: 30px;
  background-color: #ffe0b2;
  color: #e64a19;
  border-radius: 10px;
  font-size: 14px;
}

body.dessertguide {
  font-family: 'Pangolin', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff8f0;
  color: #333;
}

body.dessertguide .container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

/* Header */
body.dessertguide header {
  text-align: center;
  padding: 20px 0;
}

body.dessertguide header h1 {
  font-family: 'Moirai One', cursive;
  color: #e57373;
  font-size: 36px;
  margin: 0;
}

body.dessertguide nav {
  text-align: center;
  margin: 20px 0;
  background-color: #ffe0b2; 
  padding: 5px 0;
  border-radius: 10px;
}


body.dessertguide nav ul {
  padding: 0;
  list-style: none;
}

body.dessertguide nav li {
  display: inline-block;
  margin: 0 15px;
}

body.dessertguide nav a {
  text-decoration: none;
  color: #e57373;
  font-weight: bold;
}

body.dessertguide nav a:hover {
  color: #d32f2f;
}


body.dessertguide aside {
  float: left;
  width: 30%;
  padding-right: 20px;
}

body.dessertguide main {
  float: left;
  width: 65%;
}

body.dessertguide .dessert-img {
  width: 100%;
  margin-bottom: 35px;
  border-radius: 12px;
}


body.dessertguide h2, 
body.dessertguide h4 {
  color: #ff8a65;
  margin-top: 20px;
}

body.dessertguide p {
  line-height: 1.6;
  margin-bottom: 250px;
}

.gallery-container {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 40px;
    padding-left: 20px;
}

.gallery-section h2 {
    color: #8B3A3A;
    font-size: 2rem;
    margin-bottom: 20px;
}

.gallery-grid {
    column-count: 4;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
}

.gallery-grid img {
    width: 100%;
    height: 150;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 8px #000000;
}

.gallery-grid img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px #7c7d7d;
}

.gallery nav{ 
   text-align: center;
  margin: 20px 0;
  background-color: #ffe0b2;
  padding: 10px 0;
  border-radius: 10px;}


aside {
    background-color: #fff0f2;
    padding: 20px;
    border-radius: 15px;

}

aside h2 {
    color: #d96c6c;
    margin-bottom: 10px;
}

aside ul {
    list-style: none;
}

aside ul li {
    margin-bottom: 8px;
    font-size: 0.95rem;
    color: #555;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #fce8e6;
    color: #d96c6c;
    margin-top: 40px;
    font-weight: bold;
}


.dessert-item {
  display: flex;
  gap: 20px;
  align-items: center;

}

.dessert-img {
  width: 150px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 12px #D9B6C4;
  transition: transform 0.3s, box-shadow 0.3s;
}

.dessert-img:hover {
  transform: scale(1.05);

}

/* Footer */
body.dessertguide footer {
  text-align: center;
  padding: 15px 0;
  margin-top: 30px;
  background-color: #ffe0b2;
  color: #e64a19;
  border-radius: 10px;
  font-size: 14px;
  clear: both;
}


body.gallery nav {
  text-align: center;
  margin: 20px 0;
  background-color: #ffe0b2;
  padding: 10px 0;
  border-radius: 10px;
}

body.gallery nav li {
  display: inline-block;
  margin: 0 15px;
  list-style: none;
}

body.gallery nav a {
  text-decoration: none;
  color: #e57373;
  font-weight: bold;
  font-size: 16px;
}

body.gallery nav a:hover {
  color: #d32f2f;
}


@keyframes dessertMove {
    0% {
        left: 0;
        top: 0;
    }

    25% {
        left: 150px;
        top: 0;
    }

    50% {
        left: 150px;
        top: 100px;
    }

    75% {
        left: 0;
        top: 100px;
    }

    100% {
        left: 0;
        top: 0;
    }
}

.animated-dessert {
    font-size: 50px;
    position: relative;
    animation: dessertMove 8s linear 0.5s infinite alternate;
    text-align: center;
    margin: 50px auto;
     transform: translateY(-40px);
}

.animation {
    text-align: center;
    margin-top: 50px;
}

 h1 {
    font-family: "Moirai One", cursive;
    font-size: 3rem;
    color: #c85555;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards; 
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}