body{
    background-color: rgb(128, 126, 127);
    color: rgb(58, 57, 57);
     font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
  margin:0;
  padding:0;

}

/* grouping */
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p,
ul,
li, 
blockquote {
    margin:0;
}

header{
    background-color: rgb(78, 171, 168);
    text-align: center;
    border: 10px solid rgb(49, 113, 163);
    padding: 30px;
}


nav{
    background-color: rgb(193, 153, 166);
    text-align: center;
    padding: 20px;
    font-size: 28px;
}

nav a {
    color: rgb(59, 148, 120);
    text-decoration: none;
    text-decoration: underline;
    /*shorthand for margin top/bottom and margin left/right*/
    margin: 0px 20px;
    letter-spacing: 3px
}

/*pseudo class selector */
nav a:hover {
    color: rgb(76, 134, 167);

}

main{
    background-color: rgb(213, 170, 184);
    padding: 50px 100px;
}
    


main h2{
    font-size: 54px;
    margin:10px 0px;
  
}


main h3{
    margin:10px 0px;
    font-size: 30px;
        color: rgb(124, 124, 61);

   
}

main p{
    
    margin: 20px 0px;
    font-size: 18px;
    color: rgb(57, 59, 59);

   
}

footer{
    background-color: rgb(213, 170, 184);
    padding: 200px;
}


p{
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
  font-weight: 900;
  font-variation-settings:
    "wdth" 100;
    word-spacing: 5px;
    line-height: 1.8;
   
}

/*Image styling with hover pseudo-class*/
img {
    border-radius: 50%; /*rounded corners*/
    border: 10px inset #8bafa5; /*inset style boder*/
    box-shadow: 5px 5px 15px #528cb3;
}
    img:hover{
        opacity: 0.7;
    }
       
/*Headings with letter spacing and shadow*/

h1
{letter-spacing: 10px;
    text-shadow: 2px 2px 5px  #1b1a1a

 }

h1:hover {
  animation: float-h1 3s ease-in-out infinite; /* apply keyframes animation to h1 */
  transform: scale(1.05); /* scale up on hover */
}


h2{
    letter-spacing: 6px;  
    text-shadow: 2px 2px 5px   #161717
}

 h3{
    letter-spacing: 6px;  
    text-shadow: 2px 2px 5px   #111111
}

/*Blackquote styling*/
blockquote{
    border-left: 4px solid #c06271; /*left vertical line*/
    border-right: 4px solid #c06271; /*right vertical line*/
    padding: 10px 15px;
    color: rgb(22, 141, 141);
    line-height: 1.6;
}


  /*Descendant selector for footer li*/
footer p a {
  display: list-item;
  color: white;
  text-shadow: 2px 2px 5px #212222;
}

footer a:hover {
  animation: float-hover 0.6s ease-in-out 1; /* play once on hover */
  color: #ff4500;
  transform: scale(1.1);
}









